.canvas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#result{
    margin: 10px;
    width: 150px;
    height: 40px;
    border: black dashed 1px;
    background-color: #fff;
    color: black;
}